################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.suo
/.vs/Collections/v15/Server/sqlite3
/Collections/bin/Debug/netstandard2.0
/Collections/obj
/CollectionTests/bin/Debug/netcoreapp2.0
/CollectionTests/obj/Debug/netcoreapp2.0
*.csproj
/CollectionTests/obj
*.sln
/.vs
/Collections/.vs/CSharp-Collections/v15/Server/sqlite3
/Collections/bin/Debug
/Collections/Settings.StyleCop
/Collections/StyleCop.Cache
/CollectionTests/StyleCop.Cache
